<ion-view view-title="inventarios">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="refreshInventory()">
            <i class="icon ion-loop"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="light-bg">
        <div class="row">
            <div class="col">
                <div class="list list-inset light-bg">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="password" ng-model="inventory.token" placeholder="Codigo Inventario">
                    </label>
                    <button class="button button-block button-clear btn-green" ng-click="validateInventory(inventory.token)">
                        Validar
                    </button>
                </div>
            </div>
        </div>
        <div class="list">
            <h4 class="soft-gray nfc-container-check" ng-if="inventory == ''">¡No se ha iniciado ningún conteo por ahora!</h4>
            <div class="item item-icon-left margin-10 item-pro" ng-repeat="item in inventory track by $index">
                <i class="icon ion-clipboard icon-gray"></i>
                <span class="code soft-gray">Fecha:  </span>
                <span class="date-inv" ng-bind-html="item.fecha"></span>
                <br>
                <span class="name-product soft-gray">Conteo #:  </span>
                <span class="cont-numb" ng-bind-html="item.numero_conteo"></span>
                <div class="ichecked" ng-if="item.estado == 1">
                    <i class="icon ion-checkmark-circled btn-green "></i>
                </div>
                <a class="button btn-green button-clear addtag-btn init-count" ng-if="item.estado == 0" ng-click="openModal($index)">Iniciar</a>
            </div>
        </div>
    </ion-content>
</ion-view>
<!-- Modal -->
<script id="inventoryList.html" type="text/ng-template">
    <ion-modal-view class="">
        <ion-header-bar class="bar-stable bar bar-header">
            <h2 class="title thin-tittle">Conteo #{{count_number.numero_conteo}}</h2>
        </ion-header-bar>
        <ion-content class="">
            <h5 class="center soft-gray margin-tp-25">Productos Chequeados</h5>
            <div class="">
                <div class="list search-result-inventory light-bg">
                    <img src="img/nfc-checkpoint-2.png" ng-if="array_found_readed == ''" class="img-inventory center-x" id="nfc_img">
                    <p id="nfc_info" class="padding text-inventory" ng-if="array_found_readed == ''">Acerca el producto para leer el TAG</p>
                    <div class="item item-icon-left margin-10 item-pro" ng-repeat="item in array_found_readed track by $index">
                        <i class="icon ion-ios-checkmark icon-check green-btn"></i>
                        <span class="code soft-gray">{{item.producto_codigo}}</span>-
                        <span class="name-product soft-gray">{{item.producto_nombre}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block btn-green" ng-click="showConfirm()">
                        Finalizar
                    </button>
                </div>
            </div>
        </ion-content>
        <div class="float-button">
            <span class="height-fix">
                <a class="content" ng-click="readTags()">
                  <i class="ion-wifi"> </i>                   
                </a>
            </span>
        </div>
    </ion-modal-view>
</script>
<!-- PopUp -->
<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view class="center-popover size-popover">
        <ion-content scroll="false">
            <img src="img/cellphone1.png" class="img-asigntag center-x">
            <img src="img/loading.gif" class="gifload">
            <div class="row">
                <div class="col">
                    <span class="thin-tittle popover-text">Acerque la etiqueta NFC</span>
                    <button class="button button-block button-stable center-x popover-btn" ng-click="closePopover($event)">
                        Cancelar
                    </button>
                </div>
            </div>
        </ion-content>
    </ion-popover-view>
</script>
